<!-- <p>May the force be with you</p> -->
<div class="container" *ngIf="peliculasFiltradas">
  
  <h2>Películas en la categoría {{ categoriaSeleccionada }}</h2>
  <p>{{ cantidadPeliculasMostradas }} Películas encontradas</p>
  <!-- <ul>
    <li *ngFor="let pelicula of peliculasFiltradas">
      <div>{{ pelicula.title }}</div>
      <div>{{ pelicula.overview }}</div>
      
    </li>
  </ul> -->
  <div class="row">
    <div class="col-md-3" *ngFor="let pelicula of peliculasFiltradas">
      <div class="card">
        <img class="poster img-fluid rounded smaller-image" src="https://image.tmdb.org/t/p/w500/{{pelicula.poster_path}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ pelicula.title }}</h5>
          <p class="card-text tex-center">{{ pelicula.overview }}</p>
        </div>
      </div>
    </div>
  </div>
</div>